.textFilter__container {
	width: 50%;
}

.MuiOutlinedInput-root {
	&.textFilter__input {
		background-color: var(--light-gray);
		border-radius: 2rem;
		font-size: 1rem;
	}
}

.MuiIconButton-root {
	&.textFilter__icon {
		color: var(--red);
		font-size: 1rem;
		padding-right: 1rem;
	}
}
