.categoriesFilter__container {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	h3 {
		width: 100%;
	}
	.categoryFilter__item {
		color: var(--red);
		font-size: 0.75rem;
		background-color: var(--white);
		border: 1px solid var(--red);
		justify-content: flex-start;
	}
	.MuiChip-root {
		.categoryFilter__item__icon {
			color: var(--red);
			font-size: 0.7rem;
		}
	}
	.categoryFilter__item__selected {
		background-color: var(--red);
		color: var(--white);
		.categoryFilter__item__icon {
			color: var(--white);
		}
	}
}
