@import-normalize; /* bring in normalize.css styles */
@import './assets/colors.scss';

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-SemiBoldItalic.ttf')
		format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-SemiBold.ttf')
		format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-Regular.ttf')
		format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-LightItalic.ttf')
		format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-Light.ttf')
		format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-BoldItalic.ttf')
		format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-Italic.ttf')
		format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-ExtraLight.ttf')
		format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-ExtraLightItalic.ttf')
		format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-Black.ttf')
		format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Titillium Web', sans-serif;
	src: url('./assets/fonts/TitilliumWeb/TitilliumWeb-Bold.ttf')
		format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Titillium Web', sans-serif;
	color: var(--font);
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	h3 {
		font-weight: 500;
	}
	.MuiInputBase-root {
		font-family: 'Titillium Web', sans-serif;
	}
}
